{% extends "templates/error.html" %}

{% block h1_error %}
{% if status_code == 403 %}
{{ super() }}
<p>
  <strong>GitHub account not authorised to access MAGEOHub</strong><br>
For access, please email helpdesk<span style="display:none">NOSPAM</span>@neodaas.ac.uk explaining which institute you are based at, what you intend to use MAGEO for and your GitHub user name. A member of NEODAAS will be in touch as soon as possible.
</p>
{% elif status_code == 400 %}
{{ super() }}
<p>
  Please login again from <a href="/hub">the home page</a>.
</p>
{% elif status_code == 500 %}
{{ super() }}
<p>
  Oh no! Something is wrong on our end. If this problem persists, please email helpdesk<span style="display:none">NOSPAM</span>@neodaas.ac.uk
</p>
{% else %}
{{ super() }}
{% endif %}

{% endblock h1_error %}

{% block stylesheet %}
{{ super() }}
<style>
  body {
    color: #f5f5f5;
    background-color: #2b2b2b;
  }
</style>
{% endblock %}
